@model List<AkademiPlusEdukator.PresentationLayer.Dtos.ResultCourseWithCategoryDto>
<section class="w3l-courses" id="courses">
    <div class="blog py-5">
        <div class="container py-md-5 py-2">
            <h5 class="title-subw3hny text-center">Öne Çıkan Kurslar</h5>
            <h3 class="title-w3l text-center">En Popüler <span class="inn-text">Kurslarımız</span></h3>

            <div class="row">
               
                @foreach(var item in Model)
                {           
                <div class="col-lg-3 col-md-6 item mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#course-single" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="@item.ImageUrl"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                @if(item.CategoryName=="Teknoloji"){
                                        <a href="#popular" class="receipe blue">@item.CategoryName</a>
                                }
                               @if(item.CategoryName=="Matematik")
                               {
                                        <a href="#popular" class="receipe yellow">@item.CategoryName</a>
                               }
                            </div>
                        </div>
                        <div class="card-body course-details">
                            <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                <p>@item.Price ₺</p>
                                <ul class="rating-star">
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star-o"></span></li>
                                </ul>
                            </div>
                            <a href="#course-single" class="course-desc">
                                @item.CourseTitle
                            </a>
                            <div class="course-meta mt-4">
                                <div class="meta-item course-lesson">
                                    <span class="fas fa-users"></span>
                                    <span class="meta-value"> 0 Öğrenci Kayıtlı</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                }

                <div class="mt-5 mx-auto text-more text-center pt-lg-4">
                    <a href="courses.html" class="btn btn-style btn-primary">View All Courses</a>
                </div>
            </div>
        </div>
    </div>
</section>